@import url(../login/__form-title/login__form-title.css);
@import url(../login/__form/login__form.css);
@import url(../login/__signin/login__signin.css);
@import url(../login/__link/login__link.css);
@import url(../login/__input/login__input.css);
@import url(../login/__login-link/login__login-link.css);
@import url(../login/__login-question/login__login-question.css);

.login {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    width: 358px;
    height: 440px;
    margin: 60px auto 80px auto;
    padding-top: 0;
}
